.app__work{
    flex: 1;
    width: 100%;
    flex-direction: column;
}

.app__work-portfolio{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 1.5rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;

    .app__work-item{
        width: 25%;
        flex-direction: column;
        padding: 1rem;
        border-radius: 0.5rem;
        background-color: #fff;
        color: #000;
        margin: 1rem 2rem 0rem 0rem;

        cursor: pointer;
        transition: all 0.3s ease;
        
        &:hover {
            box-shadow: 0 0 25px rgba(0,0,0,0.2);
        }
        @media screen and (min-width: 2000px) {
          margin: 4rem 2rem 0rem 0rem;
            // height: 100%;
            // padding: 1.25rem;
            // border-radius: 0.75rem;
        }
        @media screen and (max-width: 430px) {
            width: 100%;
            margin: 1rem 0rem 0rem 0rem;
            .app__flex {
                flex-direction: column; /* Change flex direction to column */
                align-items: stretch; /* Stretch items to full width */
              }
        }
    }
    .app__work-item2{ 
        flex: 1;
        flex-direction: column;
        padding: 1rem;
        border-radius: 0.5rem;
        background-color: #fff;
        color: #000;
        white-space: pre-line;
        margin: 1rem 0rem 0rem 2rem;

        .app__work-content {
            align-items: flex-start;
        }
        @media screen and (min-width: 2000px) {
          margin: 4rem 2rem 0rem 0rem;
            // height: 100%;
            // padding: 1.25rem;
            // border-radius: 0.75rem;
        }
        @media screen and (max-width: 430px) {
            width: 100%;
            margin: 1rem 0rem 0rem 0rem;
            // margin: 1rem;
            .app__flex {
                flex-direction: column; /* Change flex direction to column */
                align-items: stretch; /* Stretch items to full width */
              }
        }
    }
}


.app__work-hover{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;

    border-radius: 0.5rem;
    opacity: 0;
    transition: all 0.3s ease;

    &:hover {
        background-color: rgba(0,0,0,0.5);

    div{
        width: 50px;
        height: 100%;
        border-radius: 50%;
        background-color: rgba(0,0,0,0.5);
        color: #fff;

        margin: 1rem;
        font-family: var(--font-base);
        font-weight: 800;

        cursor: pointer;
        transition: all 0.3s ease;

        svg{
            width: 50%;
            height: 50%;
            color: #fff;
        }
    }
}
}

.app__work-content{
    padding: 0.5rem;
    width: 100%;
    position: relative;
    flex-direction: column;

    h4{
        margin-top: 1rem;
        line-height: 1.5;
    }
    .app__work-tag{
        position: absolute;
        padding: 0.5rem 1rem;
        border-radius: 10px;
        background-color: #fff;
        top: -25px; //go up to the image
    }
}


//For side bar
.sidebar {
    min-height: 100%;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    transition: 0.3s width;
    // overflow-y: auto;
  }
  
  .boxicon-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    cursor: pointer;
    position: relative;

    p{
      position: relative;
    //   // display: flex;
    //   // flex-direction: column;
      margin: 0.5rem 0rem 0.5rem 0rem;
    //   // white-space: normal;
    //   // overflow-wrap: break-word;

      @media screen and (min-width: 2000px) {
    //     justify-content: flex-start;
        font-size: 1.5rem;
    //     line-height: 4rem;
    //     // margin: 0rem auto;
      }
    }
  }
  
  // .boxicon {
  //   margin: 0.8rem;
  //   animation-iteration-count: 1;
  // //   z-index: 2;
  // }
  
  .active {
    background-color: red;
  }
  
  .active::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 95%;
    background-color: #373737;
    opacity: 1;
  //   z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    left: -0.25rem;
    top: 0.5rem;
    border-top-right-radius: 0.8rem;
    border-bottom-right-radius: 0.8rem;
  }
  
  .boxicon-container:hover > .boxicon::after {
    opacity: 1;
    transition: 0.1s;
    width: 100%;
  }
  
  .sidebar > *:first-child {
    margin-top: 1.5rem;
  }
  .sidebar > *:last-child {
    margin-top: auto;
  }
  
  .final-icon {
    background-color: red;
  }
  
  .description {
    opacity: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0.5rem;
  //   z-index: 2;
    font-weight: bold;
    color: black;
    transition: 0.2s opacity;
  }
  
  .active-description {
    color: white;
  }
  
  .expanded {
    width: 100%;
    align-items: flex-start;
  }
  
  .show-description {
    opacity: 1;
  }
  
  .container {
    display: flex;
  }
  
  .text {
    color: white;
    z-index: 2;
    margin: 0 auto;
    align-self: center;
    font-size: 32px;
  }
  